.safe-journey {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgba(239, 216, 216, 0.497);

}

.feature-card {
  border: none;
  border-radius: 12px;
  margin-bottom: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.icon {
  display: block;
  margin: 0 auto;
}
